<div id={{(concat "global-filter-" @filter)}} class="global-filter-item">
  <a
    data-auto-route="true"
    href={{this.route}}
    class="global-filter-button btn"
  >
    <span class="d-button-label">
      <span>
        {{spacedTag}}
        <br>
        <span class="filter-item-total-topic-count">
          {{this.totalFilterTagCount}}
        </span>
      </span>
    </span>
  </a>
  {{plugin-outlet name="below-global-filter-item" args=(hash filter=@filter)}}
</div>
