<h3>{{i18n "global_filter.admin.alternate_name_picker_header"}}</h3>
<p class="alternate-name-picker-description">
  {{i18n "global_filter.admin.alternate_name_picker_description"}}
</p>

<div>
  {{#each @filterTags as |filterTag|}}
    <div class="global-filter-wrapper">
      <h2>{{filterTag.name}}</h2>

      <div class="alternate-filter-name-picker-wrapper">
        <div>
          <h4>{{i18n "global_filter.admin.alternate_child_tag_name"}}</h4>
          <Input
            @value={{filterTag.alternate_name}}
            data-tag-name={{filterTag.name}}
            {{on "input" this.setAlternateNameForFilter}}
            placeholder={{i18n
              "global_filter.admin.alternate_name_placeholder"
            }}
          />

          <div class="composer-only-wrapper">
            <Input
              @type="checkbox"
              name="composerOnly"
              class="composer-only-input"
              @checked={{filterTag.alternate_composer_only}}
              data-tag-name={{filterTag.name}}
              {{on "change" this.setAlternateComposerOnlyForFilter}}
            />
            <label class="alternate-name-picker-label">
              {{i18n "global_filter.admin.composer_only"}}
            </label>
          </div>
        </div>

        <div>
          <h4>{{i18n "global_filter.admin.filter_children"}}</h4>
          {{#if filterTag.filter_children}}
            {{!-- HERE WE NEED TO CREATE AN EMBER OBJECT TO LOOP THROUGH --}}
            {{!-- {{#with filterTag.filter_children as |child|}} --}}
              {{!-- <div>{{child.name}}</div> --}}
              {{!-- <div>{{child.name}}</div --}}
              {{!-- <div>{{child.alternate_name}}</div> --}}
              {{!-- <div>{{child.alternate_name}}</div> --}}
              {{!-- <div>{{child.icon}}</div> --}}
              {{!-- <div>{{child.icon}}</div> --}}
            {{!-- {{/with}} --}}
          {{else}}
            {{i18n "global_filter.admin.no_filter_children"}}
          {{/if}}
          {{#if (eq this.creatingChildFor filterTag.name)}}
            <div class="child-picker-spacer">
              <label class="alternate-name-picker-label">
                {{i18n "global_filter.admin.filter_child_name"}}
              </label>
              <TagChooser
                @tags={{this.filterChildName}}
                @everyTag={{true}}
                @onChange={{action this.setFilterChildName}}
                @options={{hash limit=1 allowAny=false}}
              />
            </div>

            <div>
              <label class="alternate-name-picker-label">
                {{i18n "global_filter.admin.alternate_child_tag_name"}}
              </label>
              <Input
                @value={{this.alternateChildTagName}}
                placeholder={{i18n
                  "global_filter.admin.alternate_child_tag_name_placeholder"
                }}
              />
            </div>

            <div>
              <label class="alternate-name-picker-label">
                {{i18n "global_filter.admin.icon_class"}}
              </label>
              <Input
                @value={{this.iconClass}}
                placeholder={{i18n
                  "global_filter.admin.icon_class_placeholder"
                }}
              />
              <DButton
                @ariaLabel="global_filter.admin.create_filter_child"
                @action={{(fn this.setFilterChildrenForFilter filterTag.name)}}
                @icon="check"
              />
              <DButton
                @ariaLabel="global_filter.admin.cancel_create_filter_child"
                @action={{this.cancelSetFilterChildrenForFilter}}
                @icon="times"
              />
            </div>
          {{else}}
            <DButton
              @label={{"global_filter.admin.new_filter_child"}}
              class="btn btn-default"
              @action={{(fn this.setCreateChild filterTag.name)}}
            />
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
