{{#if this.canDisplay}}
  <div class="global-filter-composer-container">
    {{#if this.siteSettings.display_global_filters_as_dropdown_in_composer}}
      <GlobalFilter::ComposerDropdown
        @filters={{this.globalFilters}}
        @selectedTags={{@composer.tags}}
        @checked={{this.checked}}
        @tagParam={{this.tagParam}}
      />
    {{else}}
      {{#each this.globalFilters as |filter|}}
        <GlobalFilter::ComposerItem
          @filter={{filter}}
          @selectedTags={{@composer.tags}}
          @checked={{this.checked}}
          @tagParam={{this.tagParam}}
        />
      {{/each}}
    {{/if}}
  </div>
{{/if}}
