<div id={{(concat "global-filter-" @filter.name)}} class="global-filter-item">
  <a
    data-auto-route="true"
    href={{this.route}}
    class="global-filter-button btn"
  >
    <span class="d-button-label">
      <span>
        {{this.tagName}}
        <br>
        <span class="filter-item-total-topic-count">
          {{this.totalFilterTagCount}}
        </span>
      </span>
    </span>
  </a>
</div>
<PluginOutlet
  @name="below-global-filter-item"
  @outletArgs={{hash filter=@filter.name}}
/>
